doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet")
    link(rel="stylesheet" href="css/style.css")
    link(rel="shortcut icon" type="image/png" href='images/logo_star.jpg')
    title "Нова инжиниринг". Лазерное сканирование и фотограмметрия в строительстве.
    script(src="https://cdn.linearicons.com/free/1.0.0/svgembedder.min.js")
  body
    main(class="main-section")
      div(class="main-section__content")
        div(class="main-section__para")
          h1(class="heading-primary")
            span(class="heading-primary--main u-center-text u-margin-bottom-medium ") Нова инжиниринг
            span(class="heading-primary--sub u-center-text u-margin-bottom-medium") BIM, лазерное сканирование и фотограмметрия в  строительстве
        div(class="main-section__para")
          p(class="para__text u-justify-text u-margin-bottom-small") Подготовка облака точек с применением наземного лазерного сканирования и фотограмметрической съемки.
          p(class="para__text u-justify-text u-margin-bottom-small") Обратный инжиниринг в BIM. 
          p(class="para__text u-justify-text u-margin-bottom-small") Комплексное проектирование объектов строительства в BIM-среде.
          p(class="para__text u-justify-text u-margin-bottom-big") Средства просмотра BIM-моделей, чертежей и облаков точек онлайн.
        div(class="main-section__para")  
          .row
            .col-1-of-4
              div(class="logo-container")
                svg(class="logo-contaiter__logo lnr lnr-envelope")
                  use(xlink:href="#lnr-envelope") 
            .col-3-of-4 
              div(class="para")
                p(class="para__text u-justify-text") novarostov@gmail.com 
          .row
            .col-1-of-4
              div(class="lnr lnr-phone-handset")
                svg(class="lnr lnr-phone-handset")
                  use(xlink:href="#lnr-phone-handset") 
            .col-3-of-4 
              div(class="para")
                p(class="para__text u-justify-text") +7 (863) 221-65-77
          .row
            .col-1-of-4
              div(class="lnr lnr-home")
                svg(class="lnr lnr-home")
                  use(xlink:href="#lnr-home") 
            .col-3-of-4 
              div(class="para")
                p(class="para__text u-justify-text") 344012, Ростовская область, г. Ростов-На-Дону, ул. Ивановского, д. 38/63, офис 306/1М
            
        




        
          
            



