@charset "UTF-8";
/* $grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
); */
/* Breakpoint	Class infix	Dimensions
X-Small	None	<576px
Small	sm	≥576px
Medium	md	≥768px
Large	lg	≥992px
Extra large	xl	≥1200px
Extra extra large	xxl	≥1400px */
.main-section {
  background-image: linear-gradient(to right, rgba(234, 231, 220, 0.85), rgba(234, 231, 220, 0.85)), url(../img/pano_plant_2.jpg);
  background-size: cover;
  background-position: center;
  /*    max-width: 100%; */
  height: 100vh; }
  .main-section__content {
    /* width: 120rem; */
    margin: 0 auto;
    /* @if $bp == $bp-1400 {
        @media (max-width: 1400px) {@content};
    }; */
    /* @if $bp == $bp-1400 {
        @media (max-width: 1400px) {@content};
    }; */
    /* @if $bp == $bp-1400 {
        @media (max-width: 1400px) {@content};
    }; */
    /* @if $bp == $bp-1400 {
        @media (max-width: 1400px) {@content};
    }; */
    /* @if $bp == $bp-1400 {
        @media (max-width: 1400px) {@content};
    }; */
    /* @if $bp == $bp-1400 {
        @media (max-width: 1400px) {@content};
    }; */ }
    @media (max-width: 1200px) {
      .main-section__content {
        width: 900px; } }
    @media (min-width: 1200px) {
      .main-section__content {
        width: 900px; } }
    @media (max-width: 992px) {
      .main-section__content {
        width: 700px; } }
    @media (max-width: 768px) {
      .main-section__content {
        width: 500px; } }
    @media (max-width: 576px) {
      .main-section__content {
        width: 500px; } }
    @media (max-width: 576px) {
      .main-section__content {
        width: 350px; } }
    @media (max-width: 320px) {
      .main-section__content {
        width: 300px; } }
  .main-section__para {
    box-sizing: content-box;
    width: 100%; }

/* Add the following CSS block to your own
stylesheet. 
https://linearicons.com/free
*/
.lnr {
  display: inline-block;
  fill: currentColor;
  width: 7rem;
  height: 7rem;
  vertical-align: -0.05em; }

.lnr-envelope,
.lnr-phone-handset,
.lnr-home {
  color: #E85A4F;
  /* We can use "color" for setting the color
    of the SVG because we set its "fill" to
    "currentColor" */
  font-size: 4rem;
  /* We can use "font-size" for changing the size
    of the SVG because its width and height were
    set 1em.
    To get crisp results, use sizes that are
    a multiple of 20; because Linearicons was
    designed on a 20 by 20 grid. */ }

/*  body {
    font-size: 10px;
    font-family: sans-serif;
    color: $color-china-red;
  } */
.logo-container {
  margin: 0 auto;
  position: relative; }
  .logo-container__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 50%;
  /* @if $bp == $bp-1400 {
        @media (max-width: 1400px) {@content};
    }; */
  /* @if $bp == $bp-1400 {
        @media (max-width: 1400px) {@content};
    }; */
  /* @if $bp == $bp-1400 {
        @media (max-width: 1400px) {@content};
    }; */
  /* @if $bp == $bp-1400 {
        @media (max-width: 1400px) {@content};
    }; */
  /* @if $bp == $bp-1400 {
        @media (max-width: 1400px) {@content};
    }; */
  /* @if $bp == $bp-1400 {
        @media (max-width: 1400px) {@content};
    }; */ }
  @media (max-width: 1200px) {
    html {
      font-size: 50%; } }
  @media (min-width: 1200px) {
    html {
      font-size: 50%; } }
  @media (max-width: 992px) {
    html {
      font-size: 30%; } }
  @media (max-width: 768px) {
    html {
      font-size: 25%; } }
  @media (max-width: 576px) {
    html {
      font-size: 25%; } }
  @media (max-width: 576px) {
    html {
      font-size: 25%; } }
  @media (max-width: 320px) {
    html {
      font-size: 25%; } }

body {
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #E85A4F; }

.heading-primary {
  padding-top: 10rem;
  color: #E85A4F;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem;
  /* .heading-secondary {
    padding: 5rem 5rem 5rem 5rem;
    color: $color-china-red;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 4rem;
    display: block;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 0.6rem;
  } */ }
  .heading-primary--main {
    display: block;
    font-weight: 500;
    letter-spacing: 1.5rem; }
  .heading-primary--sub {
    display: block;
    font-weight: 550;
    letter-spacing: 0.5rem; }

.para__text {
  font-size: 2.5rem;
  font-weight: 400;
  letter-spacing: 0.4rem;
  box-sizing: border-box; }

.u-center-text {
  text-align: center !important; }

.u-justify-text {
  text-align: justify !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-0-auto {
  margin: 0 auto; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc((100% * 2 - 6rem) / 3); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc((100% * 2 - 2 * 6rem) / 4); }
  .row .col-3-of-4 {
    width: calc((100% * 3 - 1 * 6rem) / 4); }
