.main-section {
    background-image: linear-gradient(to right, rgba($color-eggshell, 0.85), rgba($color-eggshell, 0.85)), url(../img/pano_plant_2.jpg);
    background-size: cover ;
    background-position: center;
 /*    max-width: 100%; */
    height: 100vh;
   
    
        &__content {
        /* width: 120rem; */
        margin: 0 auto;
      
       
       
        @include res-width($bp-1200) {
            width: 900px;
        };
        @include res-width($bp-992) {
            width: 700px;
        };
        @include res-width($bp-768) {
            width: 500px;
        };
        @include res-width($bp-576) {
            width: 500px;
        };
        @include res-width($bp-576) {
            width: 350px;
        };
        @include res-width($bp-320) {
            width: 300px;
        };
        
    }
    
    
    &__para {
        box-sizing: content-box;
        width: 100%;
   
    }

}

