.main-section {
    background-image: linear-gradient(to right, rgba($color-eggshell, 0.85), rgba($color-eggshell, 0.85)), url(../img/pano_plant_2.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    /* width: 100vh; */
    &__content {
        width: 120rem;
        margin: 0 auto;
    }
    
    &__para {
        box-sizing: content-box;
        
    }

}

