.main-section {
    background-image: linear-gradient(to right, rgba($color-eggshell, 0.85), rgba($color-eggshell, 0.85)), url(../img/pano_plant_2.jpg);
    background-size: cover ;
    background-position: center;
 /*    max-width: 100%; */
    height: 100vh;
   
    
        &__content {
        //width: 120rem;
        margin: 0 auto;
        @include responsive-width
    }
    
    &__para {
        box-sizing: content-box;
   
    }

}

