/* Add the following CSS block to your own
stylesheet. 
https://linearicons.com/free
*/
.lnr {
    display: inline-block;
    fill: currentColor;
    width: 7rem;
    height: 7rem;
    vertical-align: -0.05em;
  }
  
  .lnr-envelope,
  .lnr-phone-handset,
  .lnr-home {
    color: $color-china-red;
    /* We can use "color" for setting the color
    of the SVG because we set its "fill" to
    "currentColor" */
    font-size: 4rem;
    /* We can use "font-size" for changing the size
    of the SVG because its width and height were
    set 1em.
    To get crisp results, use sizes that are
    a multiple of 20; because Linearicons was
    designed on a 20 by 20 grid. */
  }

  


  
 /*  body {
    font-size: 10px;
    font-family: sans-serif;
    color: $color-china-red;
  } */
  