@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

//breakpoints
/* Breakpoint	Class infix	Dimensions
X-Small	None	<576px
Small	sm	≥576px
Medium	md	≥768px
Large	lg	≥992px
Extra large	xl	≥1200px
Extra extra large	xxl	≥1400px */

@mixin res-width($bp) {

    @if $bp == $bp-320 {
        @media (max-width: 320px) {@content};
    };
    @if $bp == $bp-576 {
        @media (max-width: 576px) {@content};
    };
    @if $bp == $bp-768 {
        @media (max-width: 768px) {@content};
    };
    @if $bp == $bp-992 {
        @media (max-width: 992px) {@content};
    };
    @if $bp == $bp-1200 {
        @media (max-width: 1200px) {@content};
        @media (min-width: 1200px) {@content};
    };
    /* @if $bp == $bp-1400 {
        @media (max-width: 1400px) {@content};
    }; */

}
