//COLORS
    // FROM https://rusability.ru/pfanshtil/tsveta-dlya-saita-50-idei-ot-luchshih-dizainerov/5fd296642dda593c3483ebd2

    // GENERAL
    $color-black: #000000;

    //ACTIVE THEORY

    $color-orange:#E27D60;
    $color-turquoise: #71d0e5;
    $color-peach: #E8A87C;
    $color-old-pink: #C38D9E;  
    $color-emerald: #41B3A3;

    //GUSTO IDS
    $color-eggshell:#EAE7DC;
    $color-sand: #D8C3A5;
    $color-grey:  #8E8D8A ;
    $color-salmon: #E98074;  
    $color-china-red: #E85A4F;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

// FONT CONTROL
$default-font-size: 1.6rem;

//Breakpoints

$bp-320: 320px; //
$bp-576: 576px; //
$bp-768: 768px;
$bp-992: 992px;
$bp-1200: 1200px;
$bp-1400: 1400px;

/* $grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
); */
